*.swp
.*.swp

.DS_Store
*~
.project
.settings
npm-debug.log
coverage.html
.idea
lib-cov

node_modules/lab
node_modules/lab-babel
node_modules/babel
node_modules/babel-core/
node_modules/less
node_modules/node-doc-generator
node_modules/marked-man/
node_modules/.bin/marked-man

test/fixtures

/lib/
/man/
/website/
